In [1]:
from clean_data import clean_data, prepare_data
import pandas as pd
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import normalize

In [2]:
data = pd.read_csv('../cars-competition/data/cars_train.csv', index_col='Id')
data.head()

,city,year,manufacturer,make,condition,cylinders,fuel,odometer,title_status,transmission,...,paint_color,lat,long,county_fips,county_name,state_fips,state_code,state_name,weather,price
Id,,,,,,,,,,,,,,,,,,,,,
559327,baltimore,2006.0,NaN,Scion tc,excellent,4 cylinders,gas,190000.0,clean,automatic,...,blue,39.287000,-76.647600,24510.0,Baltimore City,24.0,MD,Maryland,56.0,3200
1429566,carbondale,2018.0,dodge,charger sxt,NaN,NaN,gas,NaN,clean,automatic,...,NaN,37.720000,-89.215800,17077.0,Jackson,17.0,IL,Illinois,48.0,30620
931606,thumb,1997.0,ford,f 250 2 wheel dr pickup,fair,NaN,gas,NaN,clean,automatic,...,white,43.483300,-83.383500,26157.0,Tuscola,26.0,MI,Michigan,45.0,1800
1265412,laredo,2003.0,ram,NaN,NaN,8 cylinders,gas,NaN,clean,automatic,...,NaN,27.850069,-99.668883,48479.0,Webb,48.0,TX,Texas,67.0,4500
1133731,ocala,2000.0,dodge,1500,NaN,NaN,gas,NaN,clean,automatic,...,NaN,29.165000,-81.539900,12069.0,Lake,12.0,FL,Florida,65.0,1400

In [3]:
train = clean_data(data)
train.head()

Cleaning cylinders...

/home/felipe/Documents/coding/academic-kaggle-competitions/src/clean_data.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame['cylinders'][data_frame['cylinders']=='other'] = median

Cleaning condition...

/home/felipe/Documents/coding/academic-kaggle-competitions/src/clean_data.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame['condition'][data_frame['condition'].isnull()] = 'unknown'

Cleaning odometer...

/home/felipe/Documents/coding/academic-kaggle-competitions/src/clean_data.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame['year'][((data_frame['year']<1900) | (data_frame['year'].isnull()))] = year_avg

Cleaning drive...
Cleaning size...

/home/felipe/Documents/coding/academic-kaggle-competitions/src/clean_data.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame['drive'][data_frame['drive'].isnull()]='fwd'

Cleaning manufacturer...
Cleaning fuel...
Cleaning transmission...
Cleaning title status...
Data cleaning complete!

/home/felipe/Documents/coding/academic-kaggle-competitions/src/clean_data.py:75: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame['manufacturer'][data_frame['manufacturer'].isnull()] = 'unknown'
/home/felipe/Documents/coding/academic-kaggle-competitions/src/clean_data.py:80: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame['fuel'][data_frame['fuel'].isnull()]='other'
/home/felipe/Documents/coding/academic-kaggle-competitions/src/clean_data.py:84: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame['transmission'][data_frame['transmission'].isnull()]='other'
/home/felipe/Documents/coding/academic-kaggle-competitions/src/clean_data.py:88: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame['title_status'][data_frame['title_status'].isnull()]='clean'

,city,year,manufacturer,make,condition,cylinders,fuel,odometer,title_status,transmission,...,lat,long,county_fips,county_name,state_fips,state_code,state_name,weather,price,decade
Id,,,,,,,,,,,,,,,,,,,,,
559327,baltimore,2006.0,unknown,Scion tc,2,4,gas,190000.000000,clean,automatic,...,39.287000,-76.647600,24510.0,Baltimore City,24.0,MD,Maryland,56.0,3200,200.0
1429566,carbondale,2018.0,dodge,charger sxt,0,6,gas,113584.991571,clean,automatic,...,37.720000,-89.215800,17077.0,Jackson,17.0,IL,Illinois,48.0,30620,201.0
931606,thumb,1997.0,ford,f 250 2 wheel dr pickup,0,6,gas,113584.991571,clean,automatic,...,43.483300,-83.383500,26157.0,Tuscola,26.0,MI,Michigan,45.0,1800,199.0
1265412,laredo,2003.0,ram,NaN,0,8,gas,113584.991571,clean,automatic,...,27.850069,-99.668883,48479.0,Webb,48.0,TX,Texas,67.0,4500,200.0
1133731,ocala,2000.0,dodge,1500,0,6,gas,113584.991571,clean,automatic,...,29.165000,-81.539900,12069.0,Lake,12.0,FL,Florida,65.0,1400,200.0

In [4]:
# Select only relevant columns
train = train[['year','manufacturer','condition','cylinders','fuel','odometer','title_status','transmission','drive','size','price']]

In [5]:
train.dtypes

year            float64
manufacturer     object
condition         int64
cylinders         int64
fuel             object
odometer        float64
title_status     object
transmission     object
drive            object
size             object
price             int64
dtype: object

In [6]:
# Getting dummies for categorical columns
train = pd.get_dummies(train,drop_first=True)

In [7]:
# Get X and y
X = train.drop(columns='price')
y = train['price']

In [8]:
# Feature reduction
pca = PCA(n_components = 40)
X_new = pca.fit_transform(X)

In [9]:
pd.DataFrame(X_new)

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,76415.008411,1.998800,2.285007,1.191960,-0.099854,0.321351,0.250586,0.282138,0.228801,0.085054,...,0.024371,-0.013279,0.005333,0.007513,-0.016541,0.004278,-0.007002,0.003769,-0.002524,-0.013475
1,-0.000141,13.124266,-0.199016,-1.057089,-0.211036,0.099359,-0.009945,0.212206,-0.223439,-0.004829,...,0.007861,-0.006470,0.001169,0.000943,-0.017085,-0.004969,-0.009904,-0.006702,-0.004028,-0.005906
2,0.000085,-7.872017,0.135497,-0.931607,-0.207106,-0.431458,0.604551,-0.441833,-0.250050,0.058381,...,0.000834,-0.008951,-0.010037,-0.010609,-0.003495,0.003717,0.001055,-0.003452,0.001157,-0.004651
3,0.000021,-1.905981,-1.837615,-0.953508,-0.262405,0.500095,0.356211,0.320651,-0.017432,0.065288,...,-0.009826,-0.031186,-0.017379,-0.032787,-0.022503,-0.002875,-0.009492,-0.021910,0.001500,-0.011790
4,0.000052,-4.871265,0.121437,-0.948306,-0.297413,0.083603,0.003075,0.188087,-0.201826,0.167383,...,0.000908,-0.012897,-0.008303,-0.011602,-0.007511,-0.002120,-0.008388,-0.008287,-0.001061,-0.007707
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469987,124462.008421,1.464724,-0.143388,-0.823583,0.520126,-0.980063,0.234747,-0.413298,0.551228,0.262088,...,0.004882,0.018594,0.002647,0.006622,-0.023814,-0.012114,-0.001820,0.006848,-0.000385,0.003303
469988,-73068.991687,10.353331,-0.188195,0.864620,-0.784637,-0.008308,-0.004537,0.092822,-0.118973,-0.028026,...,-0.034783,-0.033224,-0.030031,-0.035922,-0.019358,-0.036994,-0.031041,-0.031770,-0.005209,-0.008901
469989,38178.008308,11.514739,-2.253396,1.031317,-0.078292,-0.115303,-0.009903,0.337599,0.781236,0.233828,...,-0.000709,0.012179,-0.003091,-0.000702,-0.048313,-0.023386,-0.007332,-0.005259,0.001502,0.001814
469990,-78556.991688,10.333166,2.057632,1.123872,-0.014512,0.363331,0.288333,-0.003910,0.030040,0.068471,...,-0.010214,-0.042276,-0.011282,-0.023503,-0.018585,-0.025729,-0.034215,-0.020757,-0.007084,-0.018599
469991,-36922.991656,7.735390,-0.122146,-0.071766,-0.522266,0.037933,-0.002527,0.113929,-0.170372,0.019762,...,0.003056,-0.048662,0.000554,-0.016741,-0.013031,-0.029540,-0.039127,-0.025394,-0.008613,-0.014679

In [10]:
# Split train and test
X_train, X_test, y_train, y_test = train_test_split(X_new,y,test_size=0.2)

In [11]:
# Linear Regression
lin_reg = LinearRegression()
lin_reg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [12]:
# Predict
y_pred = lin_reg.predict(X_test)

In [30]:
# Absolute
y_pred = abs(y_pred)

In [32]:
# Check error
mean_squared_error(y_test, y_pred)

116146283094314.27

In [14]:
# Predict for submission Linear Regression
submission = pd.read_csv('../cars-competition/data/cars_test.csv', index_col='Id')
submission = clean_data(submission)

Cleaning cylinders...

/home/felipe/Documents/coding/academic-kaggle-competitions/src/clean_data.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame['cylinders'][data_frame['cylinders']=='other'] = median
/home/felipe/Documents/coding/academic-kaggle-competitions/src/clean_data.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame['condition'][data_frame['condition'].isnull()] = 'unknown'

Cleaning condition...
Cleaning odometer...

/home/felipe/Documents/coding/academic-kaggle-competitions/src/clean_data.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame['year'][((data_frame['year']<1900) | (data_frame['year'].isnull()))] = year_avg

Cleaning drive...
Cleaning size...

/home/felipe/Documents/coding/academic-kaggle-competitions/src/clean_data.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame['drive'][data_frame['drive'].isnull()]='fwd'

Cleaning manufacturer...
Cleaning fuel...
Cleaning transmission...
Cleaning title status...
Data cleaning complete!

/home/felipe/Documents/coding/academic-kaggle-competitions/src/clean_data.py:75: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame['manufacturer'][data_frame['manufacturer'].isnull()] = 'unknown'
/home/felipe/Documents/coding/academic-kaggle-competitions/src/clean_data.py:80: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame['fuel'][data_frame['fuel'].isnull()]='other'
/home/felipe/Documents/coding/academic-kaggle-competitions/src/clean_data.py:84: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame['transmission'][data_frame['transmission'].isnull()]='other'
/home/felipe/Documents/coding/academic-kaggle-competitions/src/clean_data.py:88: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame['title_status'][data_frame['title_status'].isnull()]='clean'

In [15]:
def prepare_data(data_frame):
    # Select only relevant columns
    data_frame = data_frame[['year','manufacturer','condition','cylinders','fuel','odometer','title_status','transmission','drive','size']]
    # Getting dummies for categorical columns
    data_frame = pd.get_dummies(data_frame,drop_first=True)
    # Get X and y
    X = data_frame
    return X
submission = prepare_data(submission)

In [16]:
X_sub = pca.transform(submission)

In [23]:
sub = pd.read_csv('../cars-competition/data/cars_test.csv', index_col='Id')
y_sub = lin_reg.predict(X_sub)
sub['price'] = y_sub

In [24]:
sub['price'] = sub['price'].apply(lambda x: abs(x))

In [27]:
sub.head()

,city,year,manufacturer,make,condition,cylinders,fuel,odometer,title_status,transmission,...,paint_color,lat,long,county_fips,county_name,state_fips,state_code,state_name,weather,price
Id,,,,,,,,,,,,,,,,,,,,,
974298,duluth,2006.0,ford,f-250 super duty,good,8 cylinders,gas,154400.0,clean,automatic,...,white,47.746524,-90.357742,27031.0,Cook,27.0,MN,Minnesota,43.0,2405.681298
1051884,kansascity,1987.0,chevrolet,NaN,NaN,NaN,gas,NaN,clean,automatic,...,NaN,38.373182,-93.776859,29083.0,Henry/Rives,29.0,MO,Missouri,52.0,291396.527173
684464,palmsprings,2010.0,jeep,liberty sport,NaN,6 cylinders,gas,127722.0,clean,automatic,...,NaN,33.741059,-116.356434,6065.0,Riverside,6.0,CA,California,59.0,55535.960271
1255387,sanmarcos,2003.0,chevrolet,tahoe,fair,8 cylinders,gas,NaN,clean,automatic,...,white,30.026266,-98.133363,48209.0,Hays,48.0,TX,Texas,67.0,72667.183772
1195520,tampa,2006.0,lexus,gs 300,NaN,NaN,gas,NaN,clean,automatic,...,NaN,27.868800,-82.734400,12103.0,Pinellas,12.0,FL,Florida,65.0,62534.676213

In [21]:
sub.to_csv('../cars-competition/data/sub_ln.csv')

/home/felipe/miniconda3/envs/lab/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [33]:
# KNeighborsRegressor
neigh = KNeighborsRegressor(n_neighbors=1000)
neigh.fit(X_train, y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=1000, p=2,
                    weights='uniform')

In [34]:
# Predict
y_pred = neigh.predict(X_test)

In [35]:
# Check error
mean_squared_error(y_test, y_pred)

116180440540534.12

In [ ]:
# Predict for submission KNeighbors
y_sub = neigh.predict(X_sub)

In [ ]:
# Random Forrest
regr = RandomForestRegressor(max_depth=2, random_state=0, n_estimators=100)
regr.fit(X_train,y_train)